body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(0.25turn, #646464, #d1d1d1, #646464);
}

header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(120px auto)repeat(5 1fr);
    min-height: 50vh;
    width: 35vh;
    border: 2px solid white
}

button {
    border: 1px solid white;
    font-size: 20px;
}

button:hover {
    background-color: rgba(235, 235, 235, 0.815);
}

.current {
    background-color: rgb(235, 235, 235);
    grid-column: span 4;
    padding: 0px 20px;
    font-size: 32px;
    text-align: right;
    overflow-wrap: break-word;
}

.previous {
    background-color: rgb(235, 235, 235);
    grid-column: span 4;
    padding: 3px 20px;
    text-align: right;
    overflow-wrap: break-word;
}

.equals {
    grid-column: span 2;
}

footer {
    margin-top: 5em;
}

.gitlogo {
    height: 20px;
}

