body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 25vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(120px auto)repeat(5 1fr);
    min-height: 50vh;
    width: 35vh;
    border: 2px solid rgb(0, 0, 0);
}

.current {
    background-color: rgb(185, 185, 185);
    grid-column: span 4;
    padding: 0px 20px;
    font-size: 32px;
    text-align: right;
    margin-bottom: -20px;
}

.previous {
    background-color: rgb(185, 185, 185);
    grid-column: span 4;
    padding: 3px 20px;
    text-align: right;
}

.equals {
    grid-column: span 2;
}

button {
    border: 2px solid white;
}
